<div id="account">
	<div class="has_sidebar">
		<div id="sidebar">
			<div class="sidebar-toggler visible-xs">
				<i class="ion-navicon"></i>
			</div>
	
			<h3>Help</h3>
			<ul class="menu">
				<li>
					{{#link-to "dashboard.help.install"}}
						<i class="ion-speedometer"></i>
						Install
					{{/link-to}}
				</li>
				<li>
					{{#link-to "dashboard.help.publish"}}
						<i class="ion-ios7-paperplane-outline"></i>
						Publish
					{{/link-to}}
				</li>
				<li>
					{{#link-to "dashboard.help.backup"}}
						<i class="ion-ios7-cloud-upload-outline"></i>
						Backup
					{{/link-to}}
				</li>
				<li>
					{{#link-to "dashboard.help.restore"}}
						<i class="ion-ios7-cloud-download-outline"></i>
						Restore
					{{/link-to}}
				</li>
				<li>
					{{#link-to "dashboard.help.clone"}}
						<i class="ion-beaker"></i>
						Clone
					{{/link-to}}
				</li>
			</ul>
		</div>
	</div>
</div>