<div id="account">
	<div class="has_sidebar">
		
		<div id="sidebar">
			<div class="sidebar-toggler visible-xs">
				<i class="ion-navicon"></i>
			</div>
	
			<h3>My Account</h3>
			<ul class="menu">
				<li>
					{{#link-to "dashboard.me.profile"}}
						<i class="ion-ios7-person"></i>
						Profile
					{{/link-to}}
				</li>
				<li>
					{{#link-to "dashboard.me.billing"}}
						<i class="ion-card"></i>
						Billing
					{{/link-to}}
				</li>
				<li>
					{{#link-to "dashboard.me.referrals"}}
						<i class="ion-person-stalker"></i>
						Referrals
					{{/link-to}}
				</li>
				<li>
					{{#link-to "dashboard.me.notifications"}}
						<i class="ion-ios7-email"></i>
						Notices
					{{/link-to}}
				</li>
				<li>
					{{#link-to "dashboard.help"}}
						<i class="ion-ios7-help"></i>
						Support
					{{/link-to}}
				</li>
			</ul>
		</div>

		<div id="panel" class="profile">
			{{outlet}}
		</div>
		
	</div>
</div>