<div class="menubar">
	<div class="sidebar-toggler visible-xs">
		<i class="ion-navicon"></i>
	</div>

	<div class="page-title">
		System Status
	</div>
</div>

<div id="status">
	<div id="update">
			<div class="row">
				<div class="col-md-12">
					<div class="current-status">
						<span class="updated">
							Updated a few seconds ago
						</span>
						<div class="status">
							<div class="color green"></div>
							All systems operational
						</div>
						<div class="help">
							Need help? <a href="contactus.html">Contact us</a>.
						</div>						
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default modules">
					  <!-- List group -->
					  <ul class="list-group">
					    <li class="list-group-item">
					    	WPMayhem.com Backend
					    	<div class="status">Operational</div>
					    </li>
					    <li class="list-group-item">
					    	WordPress Security Monitoring
					    	<div class="status">Operational</div>
					    </li>
					    <li class="list-group-item">
					    	phpMyAdmin
					    	<div class="status">Operational</div>
					    </li>
					  </ul>
					</div>
				</div>
				<div class="col-md-12 info">
					<strong>What is this site?</strong>

					<p>
						In here you can show the status of your website or application to your users. You can 
						explain if there are any interruptions or problems in any given time and all the updates.
						You can also explain how they can get in touch if they are having some problems that
						are not related to any problems shown here.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="messages">
						<h3>Messages</h3>
						<div class="date">
							<div class="day">Today</div>
							<p class="ok">
								All systems operational
							</p>
						</div>
					</div>
				</div>
			</div>

	</div>
</div>