<div id="signup">

	{{#link-to "login" class="logo"}}
		<img src="/imgs/logo.png">
	{{/link-to}}

	<div class="content">
		<form {{action 'register' on='submit'}}>
			<div class="fields">
				<label>Full Name</label>
				{{input value=name type="name" placeholder="Your full name" class="form-control"}}
			</div>
			<div class="fields">
				<label>Email Address</label>
				{{input value=email type="email" placeholder="Your email address" class="form-control"}}
			</div>
			<div class="fields">
				<label>Password</label>
				{{input value=password type="password" placeholder="Your password" class="form-control"}}
			</div>
			<div class="actions">
				<button type="submit" class="btn btn-success btn-lg">Create my Account</button>
			</div>
		</form>
	</div>

	<div class="bottom-wrapper">
		<div class="message">
			<span>Already have an account?</span>
			{{#link-to "login"}}Login here{{/link-to}}.
		</div>
	</div>


	<script type="text/javascript">
		$(function () {
			var $switcher = $(".signup-switcher a");
			$switcher.click(function (e) {
				e.preventDefault();
				$switcher.removeClass("active");
				$(this).addClass("active");
				$("body").attr("class", $(this).data("class"));
			});
		});
	</script>

</div>